$color-body: #a7b300bd;
$color-bodyPorang: #027a8a;
$primary_color :#2196f3;
$primary_HOVERcolor:#39a1f4;
$secondary_color:#fcfcfc;
$onlyWhite_color:#ffff;
$color_greyBackgroud:#dcdcdc;
$color_greyborder: #9e9e9e;
$bg-hoverbtn:#e9e9e9;
$txcolor-hoverbtn: #9e9e9e;
$color-nav:#6b6a6a;
